<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
</head>
<body>
<!-- tran name id -->
	<div>
		<input type="button" value="query transitions" class="query_transitions_btn"/>
		<select class="tran_select">
			<option  value="0">-choose-</option>
		</select>
	</div>
<hr />
	<div style="float: left;">
		<input type="button" value="origin database"
			class="pre-database-resources-btn" /> <br /> <input type="button"
			value="select table" class="select-pre-table-btn" /> <select
			class="select-pre-table-select"></select>
		<div class="pre-data-div">
			<table class="pre-data-table"></table>
		</div>
	</div>
	<div style="float: left; margin: 0 0 0 5px;">
		<input type="button" value="target database"
			class="target-database-resources-btn" /> <br /> <input
			type="button" value="select table" class="select-target-table-btn" />
		<select class="select-target-table-select"></select>
		<div class="target-data-div">
			<table class="target-data-table"></table>
		</div>
	</div>
	<div class="move-buttons-div">
		<button class="move_to_right_btn">move to right</button>
		<button class="move_to_left_btn">move
			to&nbsp;&nbsp;&nbsp;left</button>
	</div>
	<div style="float: left; margin: 0 0 0 5px;">
		<select class="target-database-resources-select" style="float: left;">
			<option value="1">insert</option>
			<option value="2">update</option>
			<option value="3">insert or update</option>
		</select>
		<div class="pre-target-data-div">
			<table class="pre-target-data-table"></table>
		</div>
	</div>
	<!-- pre database resources -->
	<div class="execute-button-div">
		<button class="execute-tran-btn">execute</button>
	</div>
	<div class="transition_div">
		<table>
			<tr><th colspan="2">transition info</th></tr>
			<tr><td>transitionName</td><td><input type="text" class="tran-name-input"/></td></tr>
			<tr><td colspan="2"><button class="tran-confirm-btn">confirm</button><button class="tran-cancel-btn">cancel</button></td></tr>
		</table>
	</div>
	<div class="pre-database-resources-div">
		<table>
			<tr>
				<td><p class="p-content-name">data-base-type</p></td>
				<td><select class="input-content-value" id="dataBaseType">
						<option value="1">postgresql</option>
						<option value="2">mysql</option>
						<option value="3">oracle</option>
				</select></td>
			</tr>
			<tr>
				<td><p class="p-content-name">driver-class-name</p></td>
				<td><input class="input-content-value" id="driverName"
					value="org.postgresql.Driver" type="text" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name">schemaname-name</p></td>
				<td><input class="input-content-value" id="schemaName"
					type="text" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name">url</p></td>
				<td><input class="input-content-value" id="url" type="text"
					value="jdbc:postgresql://127.0.0.1/pre_tran" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name">port</p></td>
				<td><input class="input-content-value" id="port" type="text" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name">username</p></td>
				<td><input class="input-content-value" id="userName"
					type="text" value="postgres" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name">password</p></td>
				<td><input class="input-content-value" id="passWord"
					type="text" value="zhouyou" /></td>
			</tr>
		</table>
		<button class="test-pre-database-resources">test</button>
		<button class="confirm-pre-database-resources">confirm</button>
		<button class="cancel-pre-database-resources">cancel</button>
	</div>
	<div class="target-database-resources-div">
		<table>
			<tr>
				<td><p class="p-content-name-target">data-base-type</p></td>
				<td><select class="input-content-value-target"
					id="dataBaseTypeTarget">
						<option value="1">postgresql</option>
						<option value="2">mysql</option>
						<option value="3">oracle</option>
				</select></td>
			</tr>
			<tr>
				<td><p class="p-content-name-target">driver-class-name</p></td>
				<td><input class="input-content-value-target"
					id="driverNameTarget" value="org.postgresql.Driver" type="text" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name-target">schemaname-name</p></td>
				<td><input class="input-content-value-target"
					id="schemaNameTarget" type="text" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name-target">url</p></td>
				<td><input class="input-content-value-target" id="urlTarget"
					type="text" value="jdbc:postgresql://127.0.0.1/target_tran" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name-target">port</p></td>
				<td><input class="input-content-value-target" id="portTarget"
					type="text" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name-target">username</p></td>
				<td><input class="input-content-value-target"
					id="userNameTarget" type="text" value="postgres" /></td>
			</tr>
			<tr>
				<td><p class="p-content-name-target">password</p></td>
				<td><input class="input-content-value-target"
					id="passWordTarget" type="text" value="zhouyou" /></td>
			</tr>
		</table>
		<button class="test-target-database-resources">test</button>
		<button class="confirm-target-database-resources">confirm</button>
		<button class="cancel-target-database-resources">cancel</button>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/pre_database_resource.js"></script>
<script type="text/javascript" src="/js/target_database_resource.js"></script>
<script type="text/javascript" src="/js/select_pre_table.js"></script>
<script type="text/javascript" src="/js/select_target_table.js"></script>
<script type="text/javascript" src="/js/move_buttons.js"></script>
<script type="text/javascript" src="/js/execute_tran.js"></script>
</html>