<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tran.tran.dao.IDataBaseDao">
	<resultMap id="dataBaseResultMap" type="tran.tran.model.DataBase">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="port" property="port" jdbcType="VARCHAR" />
		<result column="custom_schema_name" property="schemaName" jdbcType="VARCHAR" />
		<result column="driver_name" property="driverName" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="data_base_type" property="dataBaseType" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="dataBaseColumns">
		id,url,port,custom_schema_name,driver_name,user_name,pass_word,data_base_type
	</sql>
	<insert id="insert" parameterType="tran.tran.model.DataBase">
		insert into t_database(<include refid="dataBaseColumns"></include>) 
		values (#{id},#{url},#{port},#{schemaName},#{driverName},#{userName},#{passWord},#{dataBaseType});
	</insert>
</mapper>