<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tran.tran.dao.IDataSourceDao">
	<resultMap id="dataSourceResultMap" type="tran.tran.model.DataSource">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="data_base" property="dataBase" jdbcType="INTEGER" />
	</resultMap>
	<sql id="dataSourceColumns">
		id,type,data_base
	</sql>
	<insert id="insert" parameterType="tran.tran.model.DataSource">
		insert into t_data_source(
		<include refid="dataSourceColumns"></include>
		)
		values (#{id},#{type},
		<choose>
			<when test="type ==1">
				#{dataBase}
			</when>
			<otherwise>
				#{path}
			</otherwise>
		</choose>
		);
	</insert>
</mapper>