<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tran.tran.dao.IPreTargetMappingDao">
	<resultMap id="dataBaseResultMap" type="tran.tran.model.PreTargetMapping">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="pre_column_name" property="preColumnName" jdbcType="VARCHAR" />
		<result column="target_column_name" property="targetColumnName" jdbcType="VARCHAR" />
		<result column="transition_id" property="transitionId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="dataBaseColumns">
		id,type,pre_column_name,target_column_name,transition_id
	</sql>
	<insert id="insert" parameterType="tran.tran.model.PreTargetMapping">
		insert into t_pre_target_mapping(<include refid="dataBaseColumns"></include>) 
		values (#{id},#{type},#{preColumnName},#{targetColumnName},#{transitionId});
	</insert>
</mapper>